@model OnlineGameLaden.Domain.Entities.ShippingDetails

@{
    /**/

    ViewBag.Title = "GameStore: Bestellungsform";
}

<h2>Ihre Bestellung</h2>
<p>Geben Sie bitte ihre Kontaktdaten, damit wir Ihre Bestellung möglichst schnell bearbeiten und absenden können!</p>


@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <h3>Daten</h3>
    <div class="form-group">
        <label>Ihre Name:</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>

    <h3>Lieferadresse</h3>
    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap")
        {
            <div class="form-group">
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
            </div>
        }
    }

    <h3>Zusätzliche Optionen</h3>
    <div class="checkbox">
        <label>
            @Html.EditorFor(x => x.GiftWrap)
            Geschenkverpackung Verwenden?
        </label>
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Bestellung bearbeiten" />
    </div>
}