@model OnlineGameLaden.Domain.Entities.CartIndexViewModel

@{
    ViewBag.Title = "CubeStore: Ihr Warenkorb";
}
<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>

<h2>Ihr Warenkorb</h2>
<table class="table">
    <thead>
        <tr>
            <th>Anzahl</th>
            <th>Spiel</th>
            <th class="text-right">Preis</th>
            <th class="text-right">Gesamtpreis</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Game.Name</td>
                <td class="text-right">@line.Game.Price.ToString("# Euro")</td>
                <td class="text-right">
                    @((line.Quantity * line.Game.Price).ToString("# Eruo"))
                </td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("GameId", line.Game.GameId)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="btn btn-sm btn-warning" type="submit" value="Löschen" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Summe:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("# Euro")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Weiter einkaufen</a>
    @Html.ActionLink("Jetzt bestellen", "Checkout", null, new { @class = "btn btn-primary" })
</div>